<h1>Listing hack_boxes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hack_boxes.each do |hack_box| %>
      <tr>
        <td><%= link_to 'Show', hack_box %></td>
        <td><%= link_to 'Edit', edit_hack_box_path(hack_box) %></td>
        <td><%= link_to 'Destroy', hack_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hack box', new_hack_box_path %>
